src/build
src/doc
src/.kdev4
src/src.kdev4
src/mysql-reader-c++/main.cpp
src/mysql-reader-c++/.travis.yml
src/mysql-reader-c++/Makefile
src/mysql-reader-c++/README.md
src/examples/build
src/examples/*.cmake
src/examples/sysapp.hpp
src/examples/sysapp.cpp
src/examples/CMakeLists.txt
src/examples/config.*
src/examples/cmake.modules/*
src/versionInfo.h
build
.kdev4
apidb.kdev4
obj/
bin/
*.depend
*.layout
src/mariadb-reader-c++/CMakeCache.txt
src/mariadb-reader-c++/CMakeFiles/
src/mariadb-reader-c++/Makefile
src/mariadb-reader-c++/cmake_install.cmake
src/mariadb-reader-c++/location.hh
src/mariadb-reader-c++/parser.tab.cc
src/mariadb-reader-c++/parser.tab.hh
src/mariadb-reader-c++/position.hh
src/mariadb-reader-c++/stack.hh
