/src/Makefile
/src/CMakeCache.txt
/src/cmake_install.cmake
/src/config.h
/src/developing
/src/generator-sql/CMakeCache.txt
/src/generator-sql/CMakeFiles/*
/src/CMakeFiles/3.5.1/CMakeCXXCompiler.cmake
/src/generator-sql/CTestTestfile.cmake
/src/generator-sql/Makefile
/src/generator-sql/developing
/src/generator-sql/lexer.yy.cc
/src/generator-sql/libapidb-generator-sql.a
/src/generator-sql/parser.tab.cc
/src/generator-sql/parser.tab.hh
/src/test/nmp.cpp
/src/test/nmp.hpp
/src/CMakeFiles/*
/src/generator-sql/cmake_install.cmake
/src/generator
/src/lexer.yy.cc
/src/libapidb.a
/src/location.hh
/src/parser.tab.hh
/src/parser.tab.cc
/src/position.hh
/src/stack.hh
/src/test/CMakeCache.txt
/src/test/Makefile
/src/test/cmake_install.cmake
/src/test/developing
/src/test/test0.pl
/src/test/CMakeFiles/*
/src/.cpp
/src/.hpp
/src/.kdev4/
/src/apidbgen

/src/business1/
/src/logo.ico
/src/nmp.apidb
/src/project.apidb
/src/src.kdev4
/src/test/CMakeLists.txt
/src/test/cmake.modules/
/src/test/config.h.in.old
/src/test/developing.cpp
/src/test/developing.old.cpp
.gitignore.save
src/CPackConfig.cmake
src/CPackSourceConfig.cmake
src/build/CMakeCache.txt
src/build/CMakeFiles/
src/build/CPackConfig.cmake
src/build/CPackSourceConfig.cmake
src/build/Makefile
src/build/Test
src/build/apidbgen
src/build/cmake_install.cmake
src/build/developing
src/build/libapidb.a
src/build/libapidb.so
src/build/sis/.kdev4/
src/build/sis/CMakeLists.txt
src/build/sis/apidb
src/build/sis/build/
src/build/sis/cmake.modules/
src/build/sis/config.h
src/build/sis/config.h.in
src/build/sis/sis.cpp
src/build/sis/sis.hpp
src/build/sis/sis.kdev4
src/build-my/CMakeCache.txt
src/build-my/CMakeFiles/
src/build-my/CPackConfig.cmake
src/build-my/CPackSourceConfig.cmake
src/build-my/Makefile
src/build-my/Test
src/build-my/apidb/CMakeCache.txt
src/build-my/apidb/CMakeFiles/
src/build-my/apidb/CMakeLists.txt
src/build-my/apidb/Makefile
src/build-my/apidb/apidb
src/build-my/apidb/cmake.modules/
src/build-my/apidb/cmake_install.cmake
src/build-my/apidb/config.h
src/build-my/apidb/config.h.in
src/build-my/apidb/sysapp.cpp
src/build-my/apidb/sysapp.hpp
src/build-my/apidbgen
src/build-my/cmake_install.cmake
src/build-my/compile_commands.json
src/build-my/developing
src/build-my/libapidb.so
src/build-my/sis/CMakeLists.txt
src/build-my/sis/apidb
src/build-my/sis/cmake.modules/
src/build-my/sis/config.h.in
src/build-my/sis/sis.cpp
src/build-my/sis/sis.hpp
src/build/apidb/CMakeCache.txt
src/build/apidb/CMakeFiles/*
src/build/apidb/CMakeLists.txt
src/build/apidb/Makefile
src/build/apidb/apidb
src/build/apidb/cmake.modules/
src/build/apidb/cmake_install.cmake
src/build/apidb/config.h
src/build/apidb/config.h.in
src/build/apidb/developing
src/build/apidb/libsysapp.a
src/build/apidb/sysapp.cpp
src/build/apidb/sysapp.hpp
src/build/compile_commands.json
src/build/nmp/*
src/build/uncom
src/build/writetar
src/uncompress.cpp
src/versionInfo.h
src/writetar-2.cpp
src/writetar.cpp

